.footer {
    padding: 60px 0;

    background-color: #2F303A;
}

.footer-content {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
}

.footer-logo {
    margin-bottom: 20px;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.footer-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.adress,
.footer-list__link {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    display: block;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress {
    margin-bottom: 9px;

    font-style: normal;
    color: #ffffff;
}

.footer-list__link {
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--animate-time) var(--animate-function);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.footer-contacts {
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
}
}

.join-social {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.send__title,
.join-social__title {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-bottom: 20px;

    color: #FFFFFF;
}

.join-social__list {
    display: flex;
    justify-content: center;
}

.join-social__item:not(:last-child) {
    margin-right: 10px;
}

.join-social__link {
    @include flex;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color var(--animate-time) var(--animate-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}

.join-social__icon {
    fill: #ffffff;
}

.send {

    @media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-left: auto;
    }
    
}

.send-wrap {
    @media screen and (min-width: 1200px) {
        display: flex;
    }

}

.send-form__input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    width: 100%;
    max-width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    

    color: #ffffff;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);

    &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
    @media screen and (min-width: 768px) {
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0px;
    }
}

.send-btn {
    margin-left: auto;
    margin-right: auto;

    min-width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @include flex;
}

.send-btn__icon {
    margin-left: 10px;
}